<DOCTYPE html>

<html>
	<head>
		<link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
		 <script src="//code.jquery.com/jquery-1.10.2.js"></script>
		 <script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>

		 <script>

		 

		 $(function() {
		 	
			var datepicker = $("#datepicker");
			datepicker.datepicker();	
			datepicker.change(function(val) {
				var val = datepicker.val();
				var selectedDate = new Date(Date.parse(val));
				var firstOfWeek = new Date(selectedDate.setDate(selectedDate.getDate() - selectedDate.getDay()));
				var weekStartTime = firstOfWeek.getTime();

				//change the week, make a JSON call
				$.get("/api/schedule/:teacher/:week", function(data) {
					alert("got data " + data);
				})


			})

		 })
		 </script>
	</head>
	<body>
	<h1>Schedule for <%=teacher.name%></h1>
	Choose Week: <input type="text" id="datepicker"/>
	

	<% if (isTeacher) {%>
	<button id="addSlotButton">Add Slot</button>
	<% }%>
	</body>
</html>