<html>
	<head>
		<title>Karaoke Controller</title>
		<link rel="stylesheet" href="/public/stylesheets/jquery-ui-smoothness.css">
		
		<script src="/public/javascripts/jquery.min.js"></script>
		<script src="/public/javascripts/jquery-ui.js"></script>
		<script src="/public/javascripts/knockout.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		
		<script type="text/javascript">
			var app = (function() {

				var socket = null;
				var queueModel = null;

				this.init = function() {
					$( "#queueList" ).sortable({
						update: function() {
							var arr = [];
							$("#queueList li").each(function () {
								arr.push($(this).attr("perfid"));
							});

							console.log("gonna post");
							$.post( "/api/queue/update", {order: arr }, function(response) {
								console.log("got response " + response);
								
							});
							
						}
					});
					$( "#queueList" ).disableSelection();

					socket = io.connect();
					socket.on('connect', function () {
						console.log("connected to socket.io server!");
						socket.on("queue", function(data) {
							queueModel.updateQueue(data);
						});
					});

					socket.on("nextsinger", function(singer) {
						queueModel.currentSinger(singer)
					});

					queueModel = {
			    		queue: ko.observableArray([]),
			    		currentSinger: ko.observable({}),
			    		updateQueue: function(queue) {
			    			queueModel.queue.removeAll();
							ko.utils.arrayPushAll(queueModel.queue(), queue);
							queueModel.queue.valueHasMutated();
			    		}
			    	};
					ko.applyBindings(queueModel, document.getElementById("queue"));
					

					$.ajax({
				 		url: "/api/queue"
					}).done(function(response) {
						console.log("got initial queue response");
						queueModel.updateQueue($.parseJSON(response));				
					});

					$.ajax({
				 		url: "/api/currentSinger"
					}).done(function(response) {
						console.log("got singer " + response);
						queueModel.currentSinger($.parseJSON(response));				
					});
					
					initEventHandlers();
				}

			

				this.removeSinger = function(event) {
					var perfid = $(event.target).attr("perfid");
					console.log(perfid);
					if (confirm("Are you sure you want to delete this singer from the queue?")) {
						console.log("Deleting from queue");
						$.ajax({
							type: "POST",
							url: "http://localhost:3000/api/queue/remove/"+perfid,
							success: function(data) {
								console.log("got song delete response " + data);		
							}
						});
					}
				}



				function initEventHandlers() {
					$("#pause_button").on("click", function() {
						socket.emit("controller_pause");
					});
					$("#play_button").on("click", function() {
						socket.emit("controller_play");
					});
					
					$("#next_singer").on("click", function() {
						socket.emit("controller_next", {});
					});
					$("#next_singer_force").on("click", function() {
						socket.emit("controller_next", { force: true });
					});


					$("#play_song_button").on("click", function(e) {
						var song = $( "#song_select option:selected" ).text();
						console.log("Playing song " + song);
						socket.emit("controller_play_song", { filename: song });
					});

					$("#play_song_forced_button").on("click", function(e) {
						var song = $( "#song_select option:selected" ).text();
						console.log("Playing song " + song);
						socket.emit("controller_play_song", { force: true, filename: song });
					});


					$("#mute_button").on("click", function(e) {
						console.log("Muting");
						socket.emit("controller_set_volume", { volume: 0 });
					});
					
					
					$( "#volume_slider" ).slider({
						  slide: function( event, ui ) {
						  	var val = ui.value / 100;
						  	console.log("Slider: " + val);
						  	socket.emit("controller_set_volume", { volume: val });
						  }
					});


					$("#full_volume_button").on("click", function(e) {
						console.log("Setting volume to 100%");
						socket.emit("controller_set_volume", { volume: 1 });
					});


					$("#full_screen_button").on("click", function() {
						console.log("Going full screen");
						socket.emit("controller_full_screen");
					});

					$("#next_singer_button").on("click", function() {
						console.log("Requesting next singer");
						socket.emit("controller_nextsinger");
					});

					$("#singer_ready_button").on("click", function() {
						console.log("Next singer is ready!");
						socket.emit("singerready");
					});


					
				}

				return this;
		})();

		$(app.init);
		</script>

		<style>

			#volumeControls *{
				margin-left: 10px;
				margin-right: 10px;
			}

			#sortable {
				cursor: default;
			}

			.singer {
				background-color: green;
				font-weight: bold;
				color: white;
				padding-right: 10;
				padding-left: 10;
			}
			.song {

			}

			#queueList li {
				margin-top: 5px;
				cursor: default;
			}

		</style>

	
	<body>
		<fieldset>
			<legend>Karaoke Controller</legend>

			<button id="pause_button">Pause</button>
			<button id="play_button">Play</button>

			
			<fieldset id="volumeControls">
				<legend>Volume</legend>


				<button id="mute_button" style="float:left;">Mute</button>
				<div id="volume_slider" style="width: 200px; float:left"></div>
				<button id="full_volume_button" style="float:left">Full Volume</button>
			</fieldset>


			<fieldset id="queue">
				<legend>Queue <button id="next_singer_button">Next</button><button id="singer_ready_button">Ready</button></legend>
				
				<ul id="currentSinger">
					<li>
					  	<span class="singer" data-bind="text: currentSinger().singer"></span>
					  	<span class="song" data-bind="text: currentSinger().song"></span>
				  </li>
				</ul>

				<ol id="queueList" data-bind="foreach: queue">
				  <li data-bind="attr : { perfid: perfid}" >
				  	<span class="singer" data-bind="text: singer"></span>
				  	<span class="song" data-bind="text: song"></span>
				  	<span class="removesinger"><a href="javascript:void(0)" class="removeSinger" data-bind="attr : { perfid: perfid}" onclick="app.removeSinger(event)">Remove</a></span>
				  </li>
				</ol>
			</fieldset>	

		</fieldset>
	</body>

</html>