<html>
	<head>
		<script src="/public/javascripts/jquery.min.js"></script>

		<link rel="stylesheet" href="/public/stylesheets/jquery-ui-smoothness.css">
		<script src="/public/javascripts/jquery-ui.js"></script>
		<script src="/public/javascripts/knockout.js"></script>

		<script src="/socket.io/socket.io.js"></script>


		<!-- Mobile Specific Metas
		  ================================================== -->
			<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

			<!-- CSS
		  ================================================== -->
			<link rel="stylesheet" href="/public/stylesheets/skeleton/base.css">
			<link rel="stylesheet" href="/public/stylesheets/skeleton/skeleton.css">
			<link rel="stylesheet" href="/public/stylesheets/skeleton/layout.css">
			<style>
			h1 {
				font-weight: bolder;
				color: white;
			}
			</style>

		<script type="text/javascript">

			var app = (function() {

				var socket = null;
				var queueModel = null;

				this.init = function() {
					
					
				}
				return this;
		})();

		$(function() {
			socket = io.connect();
			socket.on('connect', function () {
				console.log("connected to socket.io server!");
				
			});


			$("#ready").click(function() {
				console.log("ready");


				$.post( "/api/player/ready" , function() {
					console.log("success");
				});

			});

			$("#skip").click(function() {
				console.log("skip");
				$.post("/api/player/skip");
			});

		});
		</script>

		<style>
			#container button {
				box-sizing: border-box;
				width: 100%;
				height:50%;
				/*border: 10px solid black;*/
			}

			#container #ready {
				background-color: green;
			}
			#container #skip {
				background-color: red;
			}


		</style>

		
	<body>
	<div id="container">

		<button id="ready">
			<h1>I'm Ready
			<div>GO</div></h1>
		</button>
		

		
		<button id="skip">
			<h1>Skip Me!
			<div>SKIP</div></h1>
		</button>

	</div>	
	</body>

</html>