<html>
	<head>
		<title>Karaoke Search</title>
		<script src="/public/javascripts/jquery.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/public/javascripts/knockout.js"></script>

		<!-- Mobile Specific Metas
		  ================================================== -->
			<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

			<!-- CSS
		  ================================================== -->
			<link rel="stylesheet" href="/public/stylesheets/skeleton/base.css">
			<link rel="stylesheet" href="/public/stylesheets/skeleton/skeleton.css">
			<link rel="stylesheet" href="/public/stylesheets/skeleton/layout.css">
		


		<style type="text/css">
			tr:nth-child(2n+1) {
			  background-color: #cccccc;
			}
		</style>
		<script>
			

			var app = new (function() {
				var socket;

				this.__init = function() {
					initModel();
					initSocket();
					initSearch();
				}

				function initSocket() {
					socket = io.connect();
					socket.on('connect', function () {
						socket.on("queue", function(queueData) {
							console.log("Need to update queue with " + JSON.stringify(queueData));
						});
					});
				}

				
				this.requestSong = function(event) {		
					console.log("Requesting song");
					var displayName = $(event.target).attr("displayName");
					var filename = $(event.target).attr("filename");
					
					var singer = prompt("Please enter your name to sing \n\n " + displayName);
					if (!singer) {
						return;
					}
					console.log("about to postify");
					
					$.ajax({
					  type: "POST",
					  url: "/api/queue/add",
					  data: { singer: singer, filename: filename },
					  success: function(data) {
                        	console.log("got queue response " + data);		
							alert("Song requested!");		
                      }
					});

				}

				this.previewSong = function(event) {
					var filename = $(event.target).attr("filename");
					window.open("/video/"+filename);
				}


				function doSearch(terms) {
					$.ajax({
				 		url: "/api/search/"+encodeURIComponent(terms)
					}).done(function(results) {
						searchModel.results.removeAll();
						ko.utils.arrayPushAll(searchModel.results(), $.parseJSON(results));
						searchModel.results.valueHasMutated();
					});
				}

				function initModel() {
					this.searchModel = {
			    		currentSearch: ko.observable("<%=searchterms%>"),
			    		results: ko.observableArray([])
			    	}
			    	ko.applyBindings(this.searchModel, document.getElementById("searchcontainer"));
				}

			    var keydownTimer = null;
			    function initSearch() {
					
					$('#terms').keyup(function(){
						var terms = $("#terms").val();
						if (terms.length < 3) {
							return;
						}

						clearTimeout(keydownTimer); 
						
						keydownTimer = setTimeout(function() {
						 	doSearch(terms);
				    	}, 500);
					});
			    }
			})();

			$(app.__init);


			<% if (songs && songs.length > 0) { %>
				$(function() {
					$("#songstable").show();					
				});
			<% } %>

			
		</script>

	</head>
	
	<body>
		<div id="searchcontainer" style="text-align: center">

			<h3>Marcel&Kerry-oke!</h3>


			
			<div style="width:100%; text-align: center">
				<a href="/all">View All Songs</a>
				<a href="/queue">View Queue</a>

			</div>


			<div style="text-align: center">
				<h3>Search</h3>
				<div style="padding: 10px">
				<input id="terms" name="terms" style="width:100%" data-bind="value: currentSearch, valueUpdate: 'keyup'"></input>
				</div>
				
			</div>
			


			<table style="width: 100%" id="songstable" data-bind="visible: results().length > 0" border="1">
				<thead>
					<tr>
						<td>Artist</td>
						<td>Title</td>
						<!--<td>Preview</td>-->
						<td>Request</td>
					</tr>
				</thead>

				
				<tbody data-bind="foreach: results">
					
					<tr>
					    <td data-bind="text: artist"></td>
					    <td data-bind="text: title"></td>
					    
					    <td style="margin-right:5px"><a href="#" data-bind="attr: { filename: filename, displayName: displayName} " onclick="app.previewSong(event)">Preview&nbsp;&nbsp;</a></td>
						
						<td><a href="javascript:void(0)" data-bind="attr: { filename: filename, displayName: displayName }" onclick="app.requestSong(event)">Sing</a></td>
					</tr>
					
				</tbody>
			</table>
			
<!-- 
			View By: <a href="#">Artist</a> <a href="#">Title</a>
			<div data-bind="foreach: results">
					
					<div>
					    <span data-bind="text: artist"></span>
					    <span data-bind="text: title"></span>
					    <span><a href="#" data-bind="attr: { filename: filename, displayName: displayName} " onclick="app.previewSong(event)">Preview</a></span>
						<span><a href="javascript:void(0)" data-bind="attr: { filename: filename, displayName: displayName }" onclick="app.requestSong(event)">Sing</a></span>
					</tr>
					
				</tbody>
		 -->
		</div>



	</body>

</html>